.featureSection { 
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 150vh;
}


.container {
    display: flex;
    height: 95vh;
    width: 90vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10em;
}

.textContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    align-self: start;
    max-width: 35%;
}

.imageContainer {
    display: flex;
    filter: drop-shadow(12em -2em 5em #6492ff10);
}

.title {
    font-size: 3em;
    color: #ffffff;
}

.description { 
    font-size: 2em;
    list-style: none;
    margin-bottom: 1em;
    font-weight: 600;
    color: #ffffff;
}

.featureList {
    padding-right: 2em;
    display: block;
    text-align: left;
}