.featureSection { 
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 150vh;
    row-gap: 5em;
    margin-bottom: 10em;
    padding: 0em 2em;
}


.containerRight {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0em 4em;
}

.containerLeft {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0em 4em;

}

.textContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 2em;
    align-self: start;
}

.imageContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    filter: drop-shadow(5em 2em 5em #6492ff1c);
}

.imageStyle {
    height: auto;
    width: 800px;
    padding: 2em;
    margin: 0em 2em;
}

.imageStyleSmall {
    display: none;
}

.title {
    display: none;
}

.featureTitle {
    font-size: 3em;
    color: #ffffff;
}

.description { 
    font-size: 2em;
    list-style: square;
    margin-bottom: 1em;
    font-weight: 500;
    color: #ffffff;
}

.featureList {
    padding-right: 2em;
    display: block;
    text-align: left;
}


@media (max-width: 1024px) {
    .featureSection { 
        row-gap: 0em;
        margin-bottom: 5em;
    }

    .title {
        font-weight: 700;
        font-size: 3em;
        text-align: center;
        margin: -0.2em 1em;
        text-decoration: underline;
        display: block;
    }

    .containerLeft {
        flex-direction: column;
     }

     .containerRight {
        flex-direction: column-reverse;
     }

     .textContainer {
        align-self: center;
        align-items: center;
     }

    .featureTitle {
        font-size: 2.5em;
        font-weight: 600;
    }
    
    .description { 
        font-size: 1.75em;
        
    }

    .imageStyle {
        height: 600px;
        width: auto;
        margin: 0em;
    }

    
  }
  
  
  
  @media (max-width: 768px) {

    .featureSection { 
        padding: 0em;
        
    }

    .containerRight {
        width: 100%;
    }

    .containerLeft { 
        width: 100%;
    }

    .featureTitle {
        font-size: 2em;
        padding: 0.5em;
        text-align: center;
    }
    
    .description { 
        font-size: 1.25em;
        list-style:square;
        
    }


    .imageStyle{
        display: none;
    }

    .imageStyleSmall {
        display: block;
        height: 400px;
        margin-top: 1em;
        width: auto;
    }


}

