.featureSection {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 5em;
    margin-bottom: 5em;
    padding: 0em 2em;
    max-width: 1800px;
  }
  
  
.feature {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    margin: 2em;
    column-gap: 10em;
  }

 
  .featureTitle {
    color: transparent;
    background: linear-gradient(var(--text-primary), var(--text-muted));
    font-size: 4em;
    font-weight: 800;
    -webkit-background-clip: text;
    background-clip: text;
  }
  

  .featureImageContainer {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
  
  .largeFeatureImage {
    height: auto;
    width: 100%;
    padding: 2em;
    margin: 0em 2em;
    will-change: filter;
    filter: drop-shadow(var(--drop-shadow) 5em 2em 5em);
    -webkit-filter: drop-shadow(var(--drop-shadow) 5em 2em 5em);
  }
  
  .smallFeatureImage {
    display: none;
    will-change: filter;
    filter: drop-shadow(var(--drop-shadow) 3em 3em 2em);
    -webkit-filter: drop-shadow(var(--drop-shadow) 3em 3em 2em);
  }
  
  .featureTextContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 1em;
    text-align: left;
  }
  
    
  .featureTextContainer ul {
    padding-right: 2em;
    display: block;
  }
  
  .featureTextContainer li {
    font-size: 2em;
    list-style: square;
    margin-bottom: 1em;
    font-weight: 500;
    color: #ffffff;
    width: 100%;
  }


  .feature h4 {
    font-size: 3em;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
}

.featureSection > div:nth-of-type(4) img:nth-of-type(1) {
  width: 80%;
  height: auto;
}
  /* Media Queries for Feature Section */
  @media (max-width: 1024px) {
    .feature {
      flex-direction: column;
    }

    .featureSection > div:nth-of-type(3) {
      flex-direction: column-reverse;
    }

    .largeFeatureImage {
      height: 600px;
      width: auto;
      margin: 0em;
    }

    .featureTextContainer {
      align-self: center;
      align-items: center;
      min-width: 50%;
    }

    .feature h4 {
      font-size: 2.5em;
    }
  
  }
  
  @media (max-width: 768px) {
    .featureSection {
      row-gap: 0em;
      margin-bottom: 0em;
      padding: 1em;
    }

    .feature {
      width: 100%;
    }

    .largeFeatureImage {
      display: none;
    }
    
    .smallFeatureImage {
      display: block;
      height: 400px;
      margin-top: 1em;
      width: auto;
    }

    .featureTextContainer li {
      font-size: 1.5em;
    }

    .featureTitle {
      font-size: 3em;
    }

    .feature h4 {
      font-size: 2em;
    }
  
  }
  
  @media (max-width: 480px) {
    .featureTitle {
      font-size: 3em;
    }
  }
  