.footer {
  display:flex;
  width: 100%;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  padding: 1em;
}

.topRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 0.5em;
}


.logo { 
  margin-bottom: 0.5em;
  width: 90px;
  height: 90px;
}

.companyName {
  font-size: 2em;
  margin: 0;
}

.slogan {
  color: #b7b5b5;
  margin: 0.2em;
}

.bottomRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.5em;
}


.resourceContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-around;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.policyContainer {
  display: flex;
  column-gap: 1.5em;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
}

.heading {
  margin-bottom: 0.4em;
}

.appStoreLink {
  align-self: center;
}

.appStoreIcon {
  width: 145px;
  height: auto;
  cursor: pointer;
  padding: 2px;
}

#copyright { 
  color: #a3a2a2;
  font-size: 14px;
}

@media (max-width: 768px) {
  .companyName {
    font-size: 1.25em;
  }

  .slogan {
    font-size: 15px;
  }
}