.footer {
  display:flex;
  width: 100%;
  flex-direction: column;
  align-self: flex-end;
  justify-content: center;
  align-items: center;
  padding: 1em;
  background: linear-gradient(var(--bg), #252424);
}

.topRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding: 0.5em;
  max-width: 500px;
}

.companyName {
  margin: 0;
  padding-top: 1em;
}

.slogan {
  color: #b7b5b5;
  margin: 0.2em;
}

.bottomRow {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}


.resourceContainer {
  display: flex;
  width: 50vw;
  max-width: 800px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
}

.linkContainer {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.policyContainer {
  display: flex;
  column-gap: 1.5em;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em;
  max-width: 500px;
}

.heading {
  margin-bottom: 0.4em;
}


.linkContainer > a {
  display: flex;
  flex-direction: column;
  font-size: 1.25em;
  line-height: 1.25em;
}

.footer h3 {
  font-size: 1.25em;
}

@media (max-width: 768px) {
  .companyName {
    font-size: 1.25em;
  }

  .slogan {
    font-size: 15px;
  }

  .linkContainer > a {
    font-size: 1em;
  }

  .footer h3 {
    font-size: 1.1em;
  }
  
  .resourceContainer {
    width: 70vw;
  }

}

@media (max-width: 480px) {
  .resourceContainer {
    width: 80vw;
  }
}