@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px); /* Slight movement effect */
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


.bg {
  position: relative; /* so the pseudo-element is positioned relative to .bg */
  z-index: 0;
  /* no direct opacity here */
}

/* Pseudo-element to hold the transparent background */
.bg::before {
  content: "";
  position: absolute;
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0;
  background: linear-gradient(
    #121212,
    #252424,
    #0f2b598e      60%
    );
    opacity: 0.2;     /* only this layer is transparent */
    z-index: -1;      /* ensures the background stays behind the .heroContainer */
    background-size: 200%, 200%;
  }
  
  .heroContainer {
    display: flex;
    height: 85vh;
    width: 80%;
    padding: 2em;
    margin: auto;
    justify-items: center;
    flex-wrap: wrap;
    padding-bottom: 10em;
    text-align: center;
}

.homeContent {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.leftSide {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    flex-direction: column;
    align-self: center;
    padding-bottom: 10em;
}

.rightSide {
  display: flex;
  flex: 1;
    align-items: center;
    justify-content: center;
    min-width: 50%;
    filter: drop-shadow(15em 8em 5em #c8d8fd12);
}

.title {
    font-size: 5em;
    line-height: 1em;
    margin: 0;
}

.smallTitle {
    font-size: 2.5em;
    margin: 0;
}

.featureImage {
  max-width: 100%;
  height: auto;
}


.slogan { 
    line-height: 1em;
    font-size: 1.1em;
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-self: center;
    background-color: #e6e6e677;
    opacity: 0; /* Start hidden */
    transform: translateY(5px);
    transition: opacity 1.5s ease-in-out, transform .5s ease-in-out;
  }
  
  .fadeIn {
    opacity: 1;
    transform: translateY(0);
  }
  
  .heading {
    font-size: 4em;
    color: #ffffff;
    text-align: left;
    padding: 0em 2em;
    margin-bottom: 0.5em;
  }

  .descriptionButtonContainer { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
    padding: 1em;
  }

.reviewSection {
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
}

.starContainer {
    display: block;
    padding-top: 2em;
}

.reviewContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    padding: 2em;
    gap: 2em;
}

.review {
    display: block;
    padding: 1em;
}

.reviewContent {
    font-family: Roboto;
    font-size: 1.25em;
    font-style: italic;
}

.reviewName {
    font-size: 1.5em;
    font-weight: 700;
}


@media (max-width: 1024px) {
  .heroContainer {
      padding-bottom: 5em;
  }

  .heading {
    font-size: 3em;
  }

  .reviewContainer {
    flex-direction: column;
  }

}



@media (max-width: 768px) {
  .heroContainer {
      flex-direction: column;  
      padding-bottom: 2em;
      min-height: 80vh;
  }

  .heading {
    font-size: 2em;
  }


  .leftSide {
    flex: none;
    width: 100%;
    padding-bottom: 0;
}

.rightSide {
    flex: none;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

.featureImage {
    width: 80%;
    height: auto;
    object-fit: contain;
}

.title {
    font-size: 3em; /* Reduce font size */
}

.smallTitle {
    font-size: 2em;
}

}


@media (max-width: 480px) {

.featureImage {
  max-width: 100%;
  height: auto;
}

}
