.reviewSection {
    margin: 5em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 2em;
    max-width: 1800px;
    height: 500px;
  }
  
  .stars {
    display: flex;
    height: 100px;
    align-items: center;
  }
  
  .reviewTitle {
    color: transparent;
    background: linear-gradient(0.5turn, var(--text-primary), var(--text-muted));
    font-size: 4em;
    font-weight: 800;
    -webkit-background-clip: text;
    background-clip: text;
  }
  
  .reviews {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
  }
  
  .review {
    display: block;
    padding: 1em;
    width: 30vw;
    max-width: 500px;
  }
  
  .reviews p {
    font-family: Roboto;
    font-size: 1.25em;
    font-style: italic;
  }

  .review  h5 {
    font-size: 1.5em;
    font-weight: 600;
  }
  
  /* Media Queries for Review Section */
  @media (max-width: 1024px) {
    .reviewSection {
      margin-top: 3em;
      margin-bottom: 1em;
      height: 100%;
    }
    .reviews {
      flex-direction: column;
      gap: 0;
    }

    .review {
      width: 80vw;
    }
  }
  
  @media (max-width: 768px) {
 
    .reviewTitle {
      font-size: 3em;
    }
  }
  
  @media (max-width: 480px) {

    .review  h5 {
      font-size: 1.25em;
      font-weight: 500;
    }
  }  