/* Global Styles Aligned with the Dark Theme Palette */
:root {

  font-family: Geist, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.1;
  font-weight: 400;

  /* Color Scheme & Palette */
  color-scheme: light dark;
  /* Primary Text Color */
  color: #FFFFFF;
  /* Primary Background */
  background-color: #121212;

  /* Rendering Optimizations */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

   --text-primary: white;
  --bg: rgb(18,18,18);
  --text-description: rgb(239, 239, 239);
  --text-secondary: rgba(255,255,255,0.9);
  --text-muted: rgb(146, 145, 145);
  --border: rgba(255,255,255,0.2);
  --card-bg: rgb(27, 27, 31);
  --blue-accent: rgba(65, 105, 225, 1);
  --tag-bg: rgb(170, 201, 248);
  --tag-font: rgb(10, 71, 253);
  --link: rgb(0, 115, 255);
  --link-hover: rgb(205, 205, 255);
  --drop-shadow-light: #2b3243d9;
  --drop-shadow-strong: #1e3874bb;
  --drop-shadow: rgba(255, 255, 255, 0.1);
  --button-primary: #2B6CB0;
  --button-border: #3C82C8;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  /* Inherit our primary background and text colors */
  background-color: inherit;
  color: inherit;
}

#root {
  display: block;
  max-width: 100vw;
}

a {
  
  font-weight: 500;
  /* Accent color for links */
  color: var(--link);
  text-decoration: inherit;
}

a:hover {
  /* Slightly darker shade of the accent for hover */
  color: var(--link-hover);
}


.logo {
  height: 90px;
  width: auto;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(var(--drop-shadow-strong) 0em 0em 2em);
}


button {
  cursor: pointer;
  color: var(--text-primary)
}

.home-screen {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
}

h1 {
  font-size: 2.25em;
  color: var(--text-primary)
}


.appStoreLink {
  align-self: center;
}

.appStoreIcon {
  width: 145px;
  height: auto;
  padding: 2px;
  cursor: pointer;
}


#copyright { 
  color: #a3a2a2;
  font-size: 14px;
  text-align: center;
}

.policy-link {
  color: var(--text-secondary)
 }
 

 

@media (max-width: 480px) {
  p {
    font-size: 16px;
  }

  h5 { 
    font-size: 17px;
  }
}